<!DOCTYPE html>
<html>
<head>
    <title>Список бронирований для ваших объявлений</title>  <!-- Устанавливаю заголовок страницы для арендодателей -->
</head>
<body>
<h1>Список бронирований для ваших объявлений</h1>  <!-- Заголовок страницы для арендодателя -->

<!-- Проверяю, есть ли бронирования для отображения -->
{% if bookings %}
    <table>
        <tr>
            <th>Объявление</th>  <!-- Колонка для названия объявления -->
            <th>Арендатор</th>  <!-- Колонка для имени арендатора -->
            <th>Дата начала</th>  <!-- Колонка для даты начала бронирования -->
            <th>Дата окончания</th>  <!-- Колонка для даты окончания бронирования -->
            <th>Статус</th>  <!-- Колонка для статуса бронирования -->
            <th>Действия</th>  <!-- Колонка для действий, таких как подтверждение или отклонение -->
        </tr>

        <!-- Прохожу по каждому бронированию -->
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.listing.title }}</td>  <!-- Вывожу название объявления -->
                <td>{{ booking.user.username }}</td>  <!-- Вывожу имя арендатора -->
                <td>{{ booking.start_date }}</td>  <!-- Вывожу дату начала бронирования -->
                <td>{{ booking.end_date }}</td>  <!-- Вывожу дату окончания бронирования -->
                <td>{{ booking.status }}</td>  <!-- Вывожу статус бронирования -->
                <td>
                    <!-- Если статус бронирования не "подтверждено", то показываю кнопки для подтверждения и отклонения -->
                    {% if booking.status != 'confirmed' %}
                        <!-- Форма для подтверждения бронирования -->
                        <form action="{% url 'booking:confirm_booking' booking.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="action" value="confirm">Подтвердить</button>
                        </form>

                        <!-- Форма для отклонения бронирования -->
                        <form action="{% url 'booking:confirm_booking' booking.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="action" value="reject">Отклонить</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <!-- Если нет бронирований, вывожу сообщение об отсутствии бронирований -->
    <p>Нет бронирований.</p>
{% endif %}

<!-- Кнопка для возврата на главную страницу -->
<a href="{% url 'user:homepage' %}">Назад на главную</a>
</body>
</html>
