<!DOCTYPE html>
<h2>Оставить отзыв для {{ listing.title }}</h2>

<!-- Форма для отправки отзыва на объявление -->
<form method="post">
    {% csrf_token %}  <!-- Включаю CSRF-токен для защиты формы от межсайтовых атак -->
    {{ form.as_p }}  <!-- Форма отзыва, которая выводит поля для оценки и комментария в формате параграфов -->
    <button type="submit">Оставить отзыв</button>  <!-- Кнопка для отправки отзыва -->
</form>

<!-- Если есть сообщение об успехе или ошибке, то вывожу его -->
{% if message %}
    <p>{{ message }}</p>
{% endif %}
