<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Edit Listing{% else %}Create Listing{% endif %}</title>
</head>
<body>
<h2>{% if form.instance.pk %}Edit Listing{% else %}Create Listing{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><strong>Владелец:</strong> {{ user.username }}</p>

    <!-- Добавляем возможность управления статусом объявления -->
    <label for="status">Активно:</label>
    <input type="checkbox" name="status" id="status" {% if form.instance.status %}checked{% endif %}>

    <button type="submit">
        {% if form.instance.pk %}
            Update
        {% else %}
            Create
        {% endif %}
    </button>
</form>
<a href="{% url 'user:logout' %}">Logout</a>
</body>
</html>